body{
    font-size: 18px;
    color: white;
}
h1{
    font-size: 72px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    color: orange;
}

#bg-actualities{
    background-image: url("images/bg-prog.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

#bg-overlay-actualities{
    background: rgba(2, 1, 1, 0.8);
    width:100%;
    height: 100%;;
}

header{

    width: 100%;


}

.navbar{
    justify-content: space-between;
    width: 90%;
    font-weight: bold;

}

.logo-container{
    max-width: 250px;
    min-width: 150px;
}

#logo{
    object-fit: cover;
    width: 100%;
}

.btn{
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-weight: bold;
}
#button-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0.6;
}

#button-to-top:hover{
    opacity: 1;
}

.fas.fa-arrow-up {
    color: white;
    border-radius: 50px;
    padding: 18px;
}

.border-top-bottom{
    width: 10%;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: white;
}

.card{
    color: #12222c;
}

footer{
    background-color: #12222c;
    color: white;
    margin-top: 100px;
}

.logo-container-footer img{
    max-width: 300px;
}

@media screen and (max-width: 992px){

    .logo-container{
        max-width: 100%;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 767px){

    h1{
        font-size: 40px;
    }



}